{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link type="text/css" rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <title>Platos</title>
    
</head>
<body>

<div class="container1">
    <div class="container">
        <table border="1">
            <tr>
                <th>Precio</th>
                <th>Plato</th>
                <th>Tipo</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>


            {% for c in comidaS%}
            <tr>
                <td>{{c.precio}}</td>
                <td>{{c.plato}}</td>
                <td>{{c.tipo}}</td>
                <td><a href="{% url 'Modificar_Comida' c.precio %}">Modificar</a></td>
                <td><a href="{% url 'eliminar_Comida' c.precio %}">Eliminar</a></td>
            </tr>
            {% endfor %}
</table>

        <hr>
        <a href="{% url 'Form_Comida'%}">Agregar Plato</a>
    </div>
</div>
</body>
</html>